Repository jelasticozor/hasura-jps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dotnet-tests, publish-feature-test-image, publish-faas-image, publish-test-faas-functions

Path conditions:
  dotnet-tests: any of: serverless/functions/**/*
  publish-feature-test-image: any of: ci/feature-tests/*
  publish-faas-image: any of: ci/ubuntu/Dockerfile
  publish-test-faas-functions: any of: features/data/functions/**/*

fix create applications feature
  features/create_applications.feature
  features/steps/create_applications_steps.py
Due: none

fix call to AddContainerEnvVars
  serverless/manifest.yml
Due: none

rename method get_role_names_from_signin_action
  features/actors/api_developer.py
Due: none

build + publish mailhog functions
  .gitlab-ci.yml
Due: none

rename all faas docker images
  serverless/functions/fusionauth.yml
  serverless/functions/mailhog.yml
Due: dotnet-tests

remove namespace from mailhog functions deployments
  serverless/functions/mailhog.yml
Due: dotnet-tests

fix script to add roles to user management actions
  hasura/add_user_mgmt_actions_permissions.py
Due: none

fix script to remove roles from user management actions
  hasura/remove_user_mgmt_actions_permissions.py
Due: none

sign in and validate token are queries
  features/iam.feature
Due: none

simplify mailhog functions file structure
  serverless/functions/Softozor.MailhogClient.DeleteAllEmails/__tests__/functions.spec.js
  serverless/functions/Softozor.MailhogClient.DeleteAllEmails/deleteAllMessages.js
  serverless/functions/Softozor.MailhogClient.DeleteAllEmails/functions.js
  serverless/functions/Softozor.MailhogClient.DeleteAllEmails/handler.js
  serverless/functions/Softozor.MailhogClient.DeleteEmail/__tests__/functions.spec.js
  serverless/functions/Softozor.MailhogClient.DeleteEmail/deleteMessage.js
  serverless/functions/Softozor.MailhogClient.DeleteEmail/functions.js
  serverless/functions/Softozor.MailhogClient.DeleteEmail/handler.js
  serverless/functions/Softozor.MailhogClient.GetEmails/__tests__/functions.spec.js
  serverless/functions/Softozor.MailhogClient.GetEmails/functions.js
  serverless/functions/Softozor.MailhogClient.GetEmails/getMessages.js
  serverless/functions/Softozor.MailhogClient.GetEmails/handler.js
Due: dotnet-tests

further simplify mailhog functions
  serverless/functions/Softozor.MailhogClient.DeleteAllEmails/__tests__/function.spec.js
  serverless/functions/Softozor.MailhogClient.DeleteAllEmails/function.js
  serverless/functions/Softozor.MailhogClient.DeleteAllEmails/handler.js
  serverless/functions/Softozor.MailhogClient.DeleteEmail/__tests__/function.spec.js
  serverless/functions/Softozor.MailhogClient.DeleteEmail/function.js
  serverless/functions/Softozor.MailhogClient.DeleteEmail/handler.js
  serverless/functions/Softozor.MailhogClient.DeleteEmail/settings.js
  serverless/functions/Softozor.MailhogClient.GetEmails/__tests__/function.spec.js
  serverless/functions/Softozor.MailhogClient.GetEmails/function.js
  serverless/functions/Softozor.MailhogClient.GetEmails/handler.js
  serverless/functions/Softozor.MailhogClient.GetEmails/settings.js
  serverless/functions/common-mailhog/settings.js
  serverless/functions/mailhog.yml
Due: dotnet-tests

fix wrong keys when accessing user management action responses
  features/steps/iam_steps.py
Due: none

setup mailhog actions on the graphql-engine
  features/development_environment.feature
  hasura/mailhog/actions.graphql
  hasura/mailhog/setup_actions.py
  hasura/manifest.yml
  manifest.yml
Due: none

fix path to hasura-metadata
  hasura/manifest.yml
Due: none

write the faas username + password to the success text
  manifest.yml
Due: none

adapt permissions on user management actions only upon application creation / deletion
  hasura/add_user_mgmt_actions_permissions.py
  hasura/remove_user_mgmt_actions_permissions.py
Due: none

fix wrong yaml indentation for FAAS_PASSWORD definition
  manifest.yml
Due: none

fix wrong actions definitions
  hasura/mailhog/actions.graphql
Due: none

fix missing curly braces around environment variables in handler urls
  hasura/mailhog/setup_actions.py
Due: none

fix sign-in action name in gherkin + add some more debug information to the iam steps
  features/create_applications.feature
  features/development_environment.feature
  features/production_environment.feature
  features/steps/iam_steps.py
Due: none

try to fix sign in appId argument
  features/data/graphql/sign_in.graphql
  hasura/auth/metadata/actions.graphql
  serverless/functions/Softozor.FusionAuth.SignIn/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInHandler.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInInput.cs
Due: dotnet-tests

fix appId argument name
  features/iam.feature
Due: none

try to rename user_id as userId in sign in response
  hasura/auth/metadata/actions.graphql
  serverless/functions/Softozor.FusionAuth.SignIn/SignInOutput.cs
Due: dotnet-tests

fix userId output value
  features/iam.feature
  hasura/auth/metadata/actions.graphql
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenOutput.cs
Due: dotnet-tests

get userId from validate_token action instead of user_id
  features/steps/iam_steps.py
Due: none

check for mailhog in the development configuration
  features/development_environment.feature
Due: none

allow for non-default external domain binding with let's encrypt addon
  bl/manifest.yml
  features/fixtures.py
  manifest.yml
Due: none

write initial sign up test code
  ci/feature-tests/requirements.txt
  features/actors/api_developer.py
  features/actors/api_user.py
  features/data/graphql/set_password.graphql
  features/data/graphql/sign_up.graphql
  features/fixtures.py
  features/iam.feature
  features/steps/create_applications_steps.py
  features/steps/iam_steps.py
  hasura/auth/metadata/actions.graphql
  hasura/auth/metadata/actions.yaml
Due: publish-feature-test-image

fix wrong password type + missing custom type
  hasura/auth/metadata/actions.graphql
  hasura/auth/metadata/actions.yaml
Due: none

implement steps to test sign up / sign in
  ci/feature-tests/requirements.txt
  features/actors/api_developer.py
  features/actors/api_user.py
  features/data/graphql/get_emails.graphql
  features/development_environment.feature
  features/iam.feature
  features/steps/iam_steps.py
  fusionauth/kickstart.json
  hasura/add_user_mgmt_actions_permissions.py
  hasura/auth/metadata/actions.yaml
  hasura/remove_user_mgmt_actions_permissions.py
Due: publish-feature-test-image

fix missing path_to_graphql_folder argument when constructing the api_developer fixture
  features/fixtures.py
Due: none

fix no_application_exists method
  features/actors/api_developer.py
Due: none

add debug info on sign_in response data
  features/actors/api_developer.py
  features/actors/api_user.py
  features/steps/create_applications_steps.py
Due: none

add debug info on sign_in response data in the .net handler exception directly
  serverless/functions/Softozor.FusionAuth.SignIn/SignInHandler.cs
Due: dotnet-tests

simplify get_role_names_from_user_management_actions + fix step "the roles are granted permission to execute all user management actions except 'sign_in'"
  features/actors/api_developer.py
  features/create_applications.feature
  features/steps/create_applications_steps.py
Due: none

add debug information to test steps + use graphql-client 1.0.15
  ci/feature-tests/requirements.txt
  features/actors/api_developer.py
  features/actors/api_user.py
  features/steps/iam_steps.py
Due: publish-feature-test-image

fix create applications steps
  features/create_applications.feature
Due: none

fix create_applications scenarios
  hasura/add_user_mgmt_actions_permissions.py
  hasura/remove_user_mgmt_actions_permissions.py
Due: none

take graphql status code correctly into account
  features/actors/api_user.py
  features/steps/iam_steps.py
  serverless/functions/Softozor.FusionAuth.SignIn/SignInHandler.cs
  serverless/functions/Softozor.FusionAuth.SignIn/Softozor.FusionAuth.SignIn.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
Due: dotnet-tests
