Repository jelasticozor/hasura-jps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dotnet-tests, publish-feature-test-image, publish-faas-image, publish-test-faas-functions

dotnet-tests:
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:${DOTNET_VERSION}-alpine-amd64
  variables:
    CONFIGURATION: Release
  before_script:
  - dotnet nuget add source "${CI_API_V4_URL}/projects/198/packages/nuget/index.json" --name ${PACKAGE_SOURCE_NAME}
  script:
  ...

publish-feature-test-image:
  stage: publish-docker
  image: docker:latest
  variables:
    DOCKER_IMAGE: ${TEST_IMAGE_NAME}
    DOCKERFILE_FOLDER: ./ci/feature-tests
  before_script:
  - - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

publish-faas-image:
  stage: publish-docker
  image: docker:latest
  variables:
    DOCKER_IMAGE: softozor/ubuntu-git
    DOCKERFILE_FOLDER: ./ci/ubuntu
  before_script:
  - - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

publish-test-faas-functions:
  stage: publish-docker
  image: softozor/faas-cli:${TOOLS_SHA}
  before_script:
  - - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd $PATH_TO_FUNCTIONS
  - IMG_TAG=${CI_COMMIT_SHORT_SHA} faas-cli build -f ./${FAAS_CONFIG}.yml
  ...

install faas functions with specified docker tag
  .gitlab-ci.yml
  features/steps/faas_steps.py
  features/steps/hasura_api.py
  manifest.yml
  serverless/manifest.yml
Due: none

make trivial change to trigger new build
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
Due: dotnet-tests

install debian version of hasura docker image
  hasura/manifest.yml
  manifest.yml
Due: none

simplify tests + test that the faas functions are ready
  features/data/functions/faas.yml
  features/data/functions/hello-python/handler.py
  features/data/functions/hello-python/requirements.txt
  features/data/manifests/faas.yml
  features/data/manifests/fusionauth.yml
  features/environment.py
  features/faas.feature
  features/fixtures.py
  features/fusionauth.feature
  features/hasura_api.feature
  features/steps/faas_steps.py
  features/steps/fusionauth_steps.py
  features/steps/hasura_api.py
  features/utils/database.py
  features/utils/faas.py
  features/utils/fusionauth.py
  features/utils/hasura.py
Due: publish-test-faas-functions

test that the secrets hold the right values
  features/data/functions/.gitignore
  features/data/functions/check-env/handler.py
  features/data/functions/check-env/requirements.txt
  features/data/functions/faas.yml
  features/hasura_api.feature
  features/steps/hasura_api.py
Due: publish-test-faas-functions

fix failing test + move the checks on the environment from Scenario: The Jelastic environment is well-defined to the Background
  features/hasura_api.feature
  features/steps/hasura_api.py
Due: none

debug response of secrets function
  features/steps/hasura_api.py
Due: none

initial hasura action definition for login
  hasura/auth/config.yaml
  hasura/auth/metadata/actions.graphql
  hasura/auth/metadata/actions.yaml
  hasura/auth/metadata/allow_list.yaml
  hasura/auth/metadata/cron_triggers.yaml
  hasura/auth/metadata/databases/databases.yaml
  hasura/auth/metadata/databases/default/tables/tables.yaml
  hasura/auth/metadata/network.yaml
  hasura/auth/metadata/query_collections.yaml
  hasura/auth/metadata/remote_schemas.yaml
  hasura/auth/metadata/rest_endpoints.yaml
  hasura/auth/metadata/version.yaml
Due: none

debug secrets response
  features/steps/hasura_api.py
Due: none

build our own graphql-engine docker image with the relevant migrations / metadata
  .gitlab-ci.yml
  ci/graphql-engine/Dockerfile
  features/environment.py
  features/fixtures.py
  features/hasura_api.feature
  features/steps/hasura_api.py
  manifest.yml
Due: none

fix build of own graphql engine docker image
  .gitlab-ci.yml
Due: none

do not copy the empty migrations folder to the /hasura-migrations folder anymore + add explanatory comment on why we build the fusionauth functions irrespective of the code changes
  .gitlab-ci.yml
  ci/graphql-engine/Dockerfile
Due: none

define validate-token action
  hasura/auth/metadata/actions.graphql
  hasura/auth/metadata/actions.yaml
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
Due: dotnet-tests

define overall database + full hasura environments + simplify hasura api testing
  .gitlab-ci.yml
  ci/feature-tests/Dockerfile
  ci/feature-tests/requirements.txt
  features/data/database/todo_project/config.yaml
  features/data/database/todo_project/metadata/actions.graphql
  features/data/database/todo_project/metadata/actions.yaml
  features/data/database/todo_project/metadata/allow_list.yaml
  features/data/database/todo_project/metadata/cron_triggers.yaml
  features/data/database/todo_project/metadata/databases/databases.yaml
  features/data/database/todo_project/metadata/databases/default/tables/public_states.yaml
  features/data/database/todo_project/metadata/databases/default/tables/public_todos.yaml
  features/data/database/todo_project/metadata/databases/default/tables/tables.yaml
  features/data/database/todo_project/metadata/query_collections.yaml
  features/data/database/todo_project/metadata/remote_schemas.yaml
  features/data/database/todo_project/metadata/rest_endpoints.yaml
  features/data/database/todo_project/metadata/version.yaml
  features/data/database/todo_project/migrations/default/1612041770785_create_table_public_states/down.sql
  features/data/database/todo_project/migrations/default/1612041770785_create_table_public_states/up.sql
  features/data/database/todo_project/migrations/default/1612042013881_define_state_enum/down.sql
  features/data/database/todo_project/migrations/default/1612042013881_define_state_enum/up.sql
  features/data/database/todo_project/migrations/default/1631798843392_create_table_public_todos/down.sql
  features/data/database/todo_project/migrations/default/1631798843392_create_table_public_todos/up.sql
  features/database.feature
  features/environment.py
  features/fixtures.py
  features/hasura_api.feature
  features/hasura_environment.feature
  features/steps/database_steps.py
  features/steps/hasura_api.py
  features/steps/hasura_environment.py
  features/utils/fusionauth.py
Due: publish-feature-test-image

further simplify testing
  features/data/functions/faas.yml
  features/data/functions/hasura-action/handler.js
  features/data/functions/hasura-action/package.json
  features/data/functions/hasura-action/yarn.lock
  features/data/manifests/postgres-cluster.yml
  features/database.feature
  features/environment.py
  features/fixtures.py
  features/hasura_environment.feature
  features/steps/database_steps.py
  features/steps/hasura_environment.py
Due: publish-test-faas-functions

test authentication
  features/fixtures.py
  features/hasura_environment.feature
  features/iam.feature
  features/steps/hasura_environment_steps.py
  features/steps/iam_steps.py
  features/utils/fusionauth.py
Due: none

temporarily disable environment deletion upon feature tear-down
  features/fixtures.py
Due: none

add some more debug info to failed assertions
  features/fixtures.py
Due: none

fix setup_kickstart script
  features/fixtures.py
  features/utils/fusionauth.py
  fusionauth/setup_kickstart.py
Due: none

fix access to fusionauth response data
  features/fixtures.py
Due: none

fix wrong access to context.context
  features/fixtures.py
Due: none

fix user dictionary
  features/fixtures.py
Due: none

fix wrong access to fusionauth response
  features/utils/fusionauth.py
Due: none

fix access to user email
  features/steps/iam_steps.py
Due: none

fix access to fusionauth response
  features/steps/iam_steps.py
Due: none

fix permission to call login action
  features/steps/iam_steps.py
  hasura/auth/metadata/actions.yaml
  manifest.yml
Due: none

check jwt with admin rights for the sake of simplicity
  features/environment.py
  features/fixtures.py
  features/steps/iam_steps.py
Due: none

forward client headers to validate_token action
  hasura/auth/metadata/actions.yaml
Due: none

get user id from validate_token payload
  features/steps/iam_steps.py
Due: none

refactor tests
  ci/feature-tests/requirements.txt
  features/actors/api_developer.py
  features/environment.py
  features/fixtures.py
  features/hasura_environment.feature
  features/iam.feature
  features/steps/hasura_environment_steps.py
  features/steps/iam_steps.py
  features/steps/jelastic_version_steps.py
  features/utils/database.py
  features/utils/faas.py
  features/utils/fusionauth.py
  features/utils/hasura.py
Due: publish-feature-test-image

fix test setup
  features/fixtures.py
Due: none

fix test setup
  features/actors/api_developer.py
  features/fixtures.py
Due: none

fix postgres version check + keep jelastic env running after test for the sake of debugging
  features/fixtures.py
  features/steps/hasura_environment_steps.py
Due: none

fix issue with validate_token test
  features/actors/api_developer.py
  features/fixtures.py
  features/steps/iam_steps.py
Due: none

clean up
  features/environment.py
  features/steps/hasura_environment_steps.py
  features/steps/iam_steps.py
Due: none

simplify login function code
  serverless/functions/Softozor.FusionAuth.Login/LoginOutputTypeConverter.cs
  serverless/functions/Softozor.FusionAuth.Login/LoginProfile.cs
  serverless/functions/Softozor.FusionAuth.Login/LoginRequestTypeConverter.cs
Due: dotnet-tests

remove dead code + throw exception when no refresh token is issued upon login
  serverless/functions/Softozor.FusionAuth.Login.Tests/LoginTests.cs
  serverless/functions/Softozor.FusionAuth.Login/LoginHandler.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
Due: dotnet-tests

try to remove docker-login step
  .gitlab-ci.yml
Due: none

use the right docker hub env vars for docker login
  .gitlab-ci.yml
Due: none

Path conditions:
  dotnet-tests: any of: serverless/functions/**/*
  publish-feature-test-image: any of: ci/feature-tests/*
  publish-faas-image: any of: ci/ubuntu/Dockerfile
  publish-test-faas-functions: any of: features/data/functions/**/*
