Repository jelasticozor/hasura-jps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dotnet-tests, publish-feature-test-image, publish-faas-image, publish-test-faas-functions

Path conditions:
  dotnet-tests: any of: serverless/functions/**/*
  publish-feature-test-image: any of: ci/feature-tests/*
  publish-faas-image: any of: ci/ubuntu/Dockerfile
  publish-test-faas-functions: any of: features/data/functions/**/*

fix access to errors field in graphql response payload
  features/steps/iam_steps.py
Due: none

make environment spec more declarative
  features/actors/api_developer.py
  features/development_environment.feature
  features/production_environment.feature
  features/steps/environment_steps.py
Due: none

fix access to error extension in iam step
  features/steps/iam_steps.py
Due: none

set up initial sign-up and set-password functions
  HasuraJps.sln
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/SetPasswordTests.cs
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/Softozor.FusionAuth.SetPassword.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SetPassword/.gitignore
  serverless/functions/Softozor.FusionAuth.SetPassword/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/FaasKeys.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/FodyWeavers.xml
  serverless/functions/Softozor.FusionAuth.SetPassword/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordHandler.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordInput.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordOutput.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/Softozor.FusionAuth.SetPassword.csproj
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/SignUpTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/Softozor.FusionAuth.SignUp.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SignUp/.gitignore
  serverless/functions/Softozor.FusionAuth.SignUp/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/FodyWeavers.xml
  serverless/functions/Softozor.FusionAuth.SignUp/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SignUp/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpHandler.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpInput.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpOutput.cs
  serverless/functions/Softozor.FusionAuth.SignUp/Softozor.FusionAuth.SignUp.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/ValidateTokenTests.cs
  serverless/functions/fusionauth.yml
Due: dotnet-tests

implement sign up action
  features/steps/iam_steps.py
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/SignInTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/SignUpTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpHandler.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpInput.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/ValidateTokenTests.cs
Due: dotnet-tests

make set_password action anonymous
  features/create_applications.feature
  features/iam.feature
  hasura/add_user_mgmt_actions_permissions.py
  hasura/auth/metadata/actions.yaml
  hasura/remove_user_mgmt_actions_permissions.py
Due: none

make sign_up action return no access token
  hasura/auth/metadata/actions.graphql
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/SignUpTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpOutput.cs
Due: dotnet-tests

convert user email to MailAddress object + switch to system.text.json in all functions + clean up code
  .gitlab-ci.yml
  features/actors/api_developer.py
  features/steps/iam_steps.py
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/SetPasswordTests.cs
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/Softozor.FusionAuth.SetPassword.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SetPassword/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordHandler.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordInput.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordOutput.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/Softozor.FusionAuth.SetPassword.csproj
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/Softozor.FusionAuth.SignIn.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SignIn/SignInHandler.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInInput.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInOutput.cs
  serverless/functions/Softozor.FusionAuth.SignIn/Softozor.FusionAuth.SignIn.csproj
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/EmailConverterTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/SignUpTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/Softozor.FusionAuth.SignUp.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SignUp/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/EmailConverter.cs
  serverless/functions/Softozor.FusionAuth.SignUp/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpHandler.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpInput.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpOutput.cs
  serverless/functions/Softozor.FusionAuth.SignUp/Softozor.FusionAuth.SignUp.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Softozor.FusionAuth.TokenValidation.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenOutput.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenOutputTypeConverter.cs
  serverless/functions/fusionauth.yml
Due: dotnet-tests

provide useful error message when invalid email provided
  serverless/functions/Softozor.FusionAuth.SetPassword/Softozor.FusionAuth.SetPassword.csproj
  serverless/functions/Softozor.FusionAuth.SignIn/Softozor.FusionAuth.SignIn.csproj
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/EmailConverterTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/EmailConverter.cs
  serverless/functions/Softozor.FusionAuth.SignUp/Softozor.FusionAuth.SignUp.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
Due: dotnet-tests

complete converter tests
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/EmailConverterTests.cs
Due: dotnet-tests

ignore resharper dotsettings
  .gitignore
  HasuraJps.sln.DotSettings.user
Due: none

initial implementation of set password action
  features/data/graphql/set_password.graphql
  features/iam.feature
  hasura/auth/metadata/actions.graphql
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/SetPasswordTests.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/FaasKeys.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordHandler.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordOutput.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/Softozor.FusionAuth.SetPassword.csproj
  serverless/functions/Softozor.FusionAuth.SignIn/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInHandler.cs
  serverless/functions/Softozor.FusionAuth.SignIn/Softozor.FusionAuth.SignIn.csproj
  serverless/functions/Softozor.FusionAuth.SignUp/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpHandler.cs
  serverless/functions/Softozor.FusionAuth.SignUp/Softozor.FusionAuth.SignUp.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenHandler.cs
Due: dotnet-tests

stop accessing non-existent token field from sign_up action
  features/actors/api_user.py
  features/data/graphql/sign_up.graphql
Due: none

extract 404 status code when the user cannot sign up
  features/steps/iam_steps.py
Due: none

use graphql variable names in snake-case
  features/actors/api_user.py
  features/data/graphql/set_password.graphql
  features/data/graphql/sign_in.graphql
  features/data/graphql/sign_up.graphql
  hasura/auth/metadata/actions.graphql
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordInput.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInInput.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInOutput.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpInput.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpOutput.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenOutput.cs
Due: dotnet-tests

integrate serilog + graylog sink
  features/fixtures.py
  manifest.yml
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/SetPasswordTests.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordHandler.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordOutput.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/Softozor.FusionAuth.SetPassword.csproj
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/SignInTests.cs
  serverless/functions/Softozor.FusionAuth.SignIn/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInHandler.cs
  serverless/functions/Softozor.FusionAuth.SignIn/Softozor.FusionAuth.SignIn.csproj
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/EmailConverterTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/SignUpTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/EmailConverter.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpHandler.cs
  serverless/functions/Softozor.FusionAuth.SignUp/Softozor.FusionAuth.SignUp.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/ValidateTokenTests.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenHandler.cs
  serverless/functions/fusionauth.yml
  serverless/manifest.yml
Due: dotnet-tests

fix missing quotes
  manifest.yml
Due: none

use udp transport when communicating with graylog
  serverless/functions/Softozor.FusionAuth.SetPassword/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/BuilderSetup.cs
Due: dotnet-tests

try to make set_password action return a success flag
  serverless/functions/Softozor.FusionAuth.SetPassword/AppSetup.cs
Due: dotnet-tests

wire up tests with graylog instance
  .gitlab-ci.yml
  features/environment.py
  features/fixtures.py
Due: none

put input extraction inside of try / catch block + fix set_password docker image setup
  serverless/functions/Softozor.FusionAuth.SetPassword/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignUp/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
  serverless/functions/fusionauth.yml
Due: dotnet-tests

do not check the refresh token anymore + reset api-user before each scenario
  features/iam.feature
  features/steps/iam_steps.py
Due: none

create random user email + password for each scenario
  features/actors/api_user.py
Due: none

when signing in, return refresh_token in graphql response instead of cookie
  hasura/auth/metadata/actions.graphql
  manifest.yml
  serverless/functions/Softozor.FusionAuth.SetPassword/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/SignInTests.cs
  serverless/functions/Softozor.FusionAuth.SignIn/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.SignIn/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInHandler.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInOutput.cs
  serverless/functions/Softozor.FusionAuth.SignIn/Softozor.FusionAuth.SignIn.csproj
  serverless/functions/Softozor.FusionAuth.SignUp/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/BuilderSetup.cs
  serverless/functions/fusionauth.yml
  serverless/manifest.yml
Due: dotnet-tests

refactor SetPassword unit tests with fusionauth client stub
  HasuraJps.sln
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/SetPasswordTests.cs
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/Softozor.FusionAuth.SetPassword.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SetPassword/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/SignInTests.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInHandler.cs
  serverless/functions/Softozor.FusionAuth.SignIn/Softozor.FusionAuth.SignIn.csproj
  serverless/functions/Softozor.FusionAuth.SignUp/Softozor.FusionAuth.SignUp.csproj
  serverless/functions/Softozor.FusionAuth.TestDoubles/FusionAuthAsyncClient.cs
  serverless/functions/Softozor.FusionAuth.TestDoubles/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.TestDoubles/Softozor.FusionAuth.TestDoubles.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
Due: dotnet-tests

refactor SignIn tests with fusionauth client stub
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/SetPasswordTests.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SetPassword/SetPasswordHandler.cs
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/SignInTests.cs
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/Softozor.FusionAuth.SignIn.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SignIn/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SignIn/SignInHandler.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/SignUpTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/Softozor.FusionAuth.SignUp.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TestDoubles/FusionAuthAsyncClient.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Softozor.FusionAuth.TokenValidation.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/ValidateTokenTests.cs
Due: dotnet-tests

completely remove ILogger dependency from all handlers + fix mapper profiles
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/SetPasswordTests.cs
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/SignInTests.cs
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/Softozor.FusionAuth.SignIn.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/SignUpTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/Softozor.FusionAuth.SignUp.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SignUp/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.SignUp/SignUpHandler.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Softozor.FusionAuth.TokenValidation.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/ValidateTokenTests.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenHandler.cs
Due: dotnet-tests

let set_password / validate_token return void_response + refactor the .net unit tests completely
  HasuraJps.sln
  features/data/graphql/validate_token.graphql
  hasura/auth/metadata/actions.graphql
  hasura/auth/metadata/actions.yaml
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/SetPasswordTests.cs
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/Softozor.FusionAuth.SetPassword.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/SignInTests.cs
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/Softozor.FusionAuth.SignIn.Tests.csproj
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/SignUpTests.cs
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/Softozor.FusionAuth.SignUp.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TestDoubles/FusionAuthAsyncClient.cs
  serverless/functions/Softozor.FusionAuth.TestDoubles/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.TestDoubles/Softozor.FusionAuth.TestDoubles.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Softozor.FusionAuth.TokenValidation.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/ValidateTokenTests.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/MapperProfile.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenHandler.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenOutput.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenOutputTypeConverter.cs
  serverless/functions/fusionauth.yml
  serverless/manifest.yml
Due: dotnet-tests

remove check that the data-protection-secret is defined
  features/data/functions/check-env/handler.py
  features/data/functions/faas.yml
  features/development_environment.feature
  features/production_environment.feature
Due: publish-test-faas-functions

stryke our .net tests
  .config/dotnet-tools.json
  .gitlab-ci.yml
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/stryker-config.json
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/stryker-config.json
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/stryker-config.json
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/stryker-config.json
Due: dotnet-tests

fix report gathering from stryker + use advanced mutation level
  .gitlab-ci.yml
  serverless/functions/Softozor.FusionAuth.SetPassword.Tests/stryker-config.json
  serverless/functions/Softozor.FusionAuth.SignIn.Tests/stryker-config.json
  serverless/functions/Softozor.FusionAuth.SignUp.Tests/stryker-config.json
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/stryker-config.json
Due: dotnet-tests

improve tenacity of jelastic environment installations
  ci/feature-tests/requirements.txt
  features/fixtures.py
Due: publish-feature-test-image

add manifest to update smtp server settings of default tenant
  fusionauth/manifest.yml
  fusionauth/update-smtp.yml
  fusionauth/update_smtp.py
Due: none

do not make the fields username / password compulsory + fix passing 'true' / 'false' to setup_kickstart / update-smtp python scripts
  fusionauth/setup_kickstart.py
  fusionauth/update-smtp.yml
  fusionauth/update_smtp.py
Due: none

fix wrong "True" / "False" values passed to kickstart script
  manifest.yml
Due: none

remove jelastic environments that failed to install completely but are potentially still there
  features/environment.py
  features/fixtures.py
Due: none

refactor update_smtp script
  fusionauth/update_smtp.py
Due: none

take environment clean up fixture out to before_all hook
  features/environment.py
Due: none

fix external mail server fixture
  features/fixtures.py
Due: none

fix update_smtp script
  fusionauth/update_smtp.py
Due: none
