Repository jelasticozor/hasura-jps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-feature-test-image, publish-faas-image, publish-faas-functions

publish-feature-test-image:
  stage: publish-docker
  image: docker:latest
  variables:
    DOCKER_IMAGE: ${HASURA_TEST_IMAGE}
    DOCKERFILE_FOLDER: ./ci/feature-tests
  before_script:
  - - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

publish-faas-image:
  stage: publish-docker
  image: docker:latest
  variables:
    DOCKER_IMAGE: softozor/ubuntu-git
    DOCKERFILE_FOLDER: ./ci/ubuntu
  before_script:
  - - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

publish-faas-functions:
  stage: publish-docker
  image: softozor/faas-cli:${TOOLS_SHA}
  before_script:
  - - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd ${CI_PROJECT_DIR}/features/data/functions
  - faas-cli build -f ./faas.yml
  - faas-cli push -f ./faas.yml

try to fix acceptance test image
  ci/feature-tests/Dockerfile
Due: publish-feature-test-image

try to trust gitlab.hidora.com
  ci/feature-tests/Dockerfile
Due: publish-feature-test-image

update faas-client package to 1.1.0 where the module is well-defined
  ci/feature-tests/Dockerfile
  features/fixtures.py
Due: publish-feature-test-image

update supported jelastic version
  features/jelastic_version.feature
Due: none

update to latest versions of jelastic-client and faas-client
  .gitlab-ci.yml
  ci/feature-tests/Dockerfile
  ci/feature-tests/requirements.txt
  features/environment.py
  features/fixtures.py
Due: publish-feature-test-image

update to latest versions of faas-client
  ci/feature-tests/requirements.txt
Due: publish-feature-test-image

take faas-client, hasura-client, graphql-client and test-utils out of softozor pypi packages
  ci/feature-tests/requirements.txt
  features/fixtures.py
  features/steps/faas_steps.py
  features/steps/fusionauth_steps.py
  features/steps/hasura_api.py
  features/utils/database.py
  features/utils/graphql_client.py
  features/utils/hasura_client.py
  features/utils/sockets.py
  features/utils/timing.py
Due: publish-feature-test-image

import behave in all steps
  features/steps/database_steps.py
  features/steps/faas_steps.py
  features/steps/fusionauth_steps.py
  features/steps/hasura_api.py
  features/steps/jelastic_version_steps.py
Due: none

update faas client to latest version where we cwd to the function folder --> can we still deploy the functions?
  ci/feature-tests/requirements.txt
Due: publish-feature-test-image

update to latest faas-client package version
  ci/feature-tests/requirements.txt
  features/fixtures.py
Due: publish-feature-test-image

try to use node-hasura faas template
  .gitlab-ci.yml
  ci/feature-tests/requirements.txt
  features/data/functions/faas.yml
  features/data/functions/hasura-action/handler.js
  features/hasura_api.feature
Due: publish-feature-test-image, publish-faas-functions

activate all jobs for the branch
  .gitlab-ci.yml
Due: none

fix call to faas_client.deploy
  features/data/functions/.gitignore
  features/environment.py
  features/fixtures.py
  features/steps/faas_steps.py
  features/steps/hasura_api.py
Due: publish-faas-functions

use faas templates for nodejs
  ci/feature-tests/requirements.txt
  features/data/functions/.gitignore
  features/data/functions/faas.yml
  features/data/functions/hasura-action/handler.js
  features/environment.py
  features/fixtures.py
  features/steps/faas_steps.py
  features/steps/hasura_api.py
Due: publish-feature-test-image, publish-faas-functions

do not build and push the faas function images in a separate job anymore; instead, do it during the test
  .gitlab-ci.yml
  ci/feature-tests/Dockerfile
  features/steps/faas_steps.py
  features/steps/hasura_api.py
  features/utils/faas.py
Due: publish-feature-test-image

fix docker image for feature tests
  ci/feature-tests/Dockerfile
Due: publish-feature-test-image

pull the faas templates before running the tests
  .gitlab-ci.yml
Due: none

again build and push the serverless functions in a separate job + temporarily only activate one scenario
  .gitlab-ci.yml
  ci/feature-tests/Dockerfile
  features/hasura_api.feature
  features/utils/faas.py
Due: publish-feature-test-image

reactivate all scenarii again
  .gitlab-ci.yml
  features/hasura_api.feature
Due: none

initial login function
  .gitignore
  .gitlab-ci.yml
  .gitmodules
  serverless/functions/FodyWeavers.xml
  serverless/functions/Softozor.FusionAuth.Login.Tests/LoginTests.cs
  serverless/functions/Softozor.FusionAuth.Login.Tests/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.Login.Tests/Softozor.FusionAuth.Login.Tests.csproj
  serverless/functions/Softozor.FusionAuth.Login/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.Login/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.Login/FaasKeys.cs
  serverless/functions/Softozor.FusionAuth.Login/LoginHandler.cs
  serverless/functions/Softozor.FusionAuth.Login/LoginInput.cs
  serverless/functions/Softozor.FusionAuth.Login/LoginOutput.cs
  serverless/functions/Softozor.FusionAuth.Login/LoginOutputTypeConverter.cs
  serverless/functions/Softozor.FusionAuth.Login/LoginProfile.cs
  serverless/functions/Softozor.FusionAuth.Login/LoginRequestTypeConverter.cs
  serverless/functions/Softozor.FusionAuth.Login/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.Login/Softozor.FusionAuth.Login.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/Properties/AssemblyInfo.cs
Due: none

add missing files
  .idea/.gitignore
  .idea/.idea.HasuraJps/.idea/.gitignore
  .idea/.idea.HasuraJps/.idea/.name
  .idea/.idea.HasuraJps/.idea/encodings.xml
  .idea/.idea.HasuraJps/.idea/indexLayout.xml
  .idea/.idea.HasuraJps/.idea/vcs.xml
  .idea/infrastructure.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  HasuraJps.sln
  HasuraJps.sln.DotSettings
  HasuraJps.sln.DotSettings.user
  features/.gitignore
  serverless/functions/.gitignore
  serverless/functions/fusionauth.yml
Due: none

add token validation function
  .gitignore
  .gitlab-ci.yml
  HasuraJps.sln.DotSettings.user
  serverless/functions/Softozor.FusionAuth.Login/.gitignore
  serverless/functions/Softozor.FusionAuth.Login/FodyWeavers.xml
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Softozor.FusionAuth.TokenValidation.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/ValidateTokenTests.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/.gitignore
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/BearerTokenAuthorizationHeader.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/FodyWeavers.xml
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/TokenValidationProfile.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenHandler.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenOutput.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/ValidateTokenOutputTypeConverter.cs
Due: none

clean up + make sure we can restore the nuget packages from the softozor nuget source
  .gitlab-ci.yml
  HasuraJps.sln
  serverless/functions/Softozor.FusionAuth.Login.Tests/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.Login.Tests/Softozor.FusionAuth.Login.Tests.csproj
  serverless/functions/Softozor.FusionAuth.Login/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.Login/Softozor.FusionAuth.Login.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Softozor.FusionAuth.TokenValidation.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/AppSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/Properties/AssemblyInfo.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
  serverless/functions/fusionauth.yml
Due: none

install the xunit.runner.visualstudio package to make it possible to run the tests from the command line
  .gitlab-ci.yml
  serverless/functions/Softozor.FusionAuth.Login.Tests/Softozor.FusionAuth.Login.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Softozor.FusionAuth.TokenValidation.Tests.csproj
Due: none

fix path to test reports
  .gitlab-ci.yml
Due: none

various fixes on faas functions
  .gitlab-ci.yml
  .idea/infrastructure.iml
  .idea/misc.xml
  ci/feature-tests/requirements.txt
  serverless/functions/Softozor.FusionAuth.Login/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.Login/Softozor.FusionAuth.Login.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/BuilderSetup.cs
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
  serverless/functions/fusionauth.yml
Due: publish-feature-test-image

install fusionauth faas functions
  .gitlab-ci.yml
  .idea/vcs.xml
  features/environment.py
  features/faas.feature
  features/fixtures.py
  features/fusionauth.feature
  features/steps/faas_steps.py
  features/steps/fusionauth_steps.py
  features/steps/hasura_api.py
  fusionauth/kickstart.json
  fusionauth/manifest.yml
  fusionauth/setup_kickstart.py
  manifest.yml
  serverless/manifest.yml
Due: none

set fusionauth version from CI/CD environment variable
  .gitlab-ci.yml
  features/environment.py
  features/fixtures.py
  features/steps/hasura_api.py
Due: none

hopefully fix wrong manifest syntax
  fusionauth/manifest.yml
Due: none

fix red faas tests + reorder setup steps in main manifest to guarantee that the relevant services are up at the relevant time
  features/faas.feature
  features/hasura_api.feature
  features/steps/faas_steps.py
  manifest.yml
Due: none

ignore build + template folders in serverless/functions folder
  serverless/functions/.gitignore
Due: none

upgrade .net 6 packages to version 6.0.0 instead of the rc versions
  serverless/functions/Softozor.FusionAuth.Login.Tests/Softozor.FusionAuth.Login.Tests.csproj
  serverless/functions/Softozor.FusionAuth.Login/Softozor.FusionAuth.Login.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation.Tests/Softozor.FusionAuth.TokenValidation.Tests.csproj
  serverless/functions/Softozor.FusionAuth.TokenValidation/Softozor.FusionAuth.TokenValidation.csproj
Due: none

fix issue with random failure to install serverless manifest
  serverless/manifest.yml
Due: none

fix yml syntax
  serverless/manifest.yml
Due: none

run apt update right before installing netcat
  serverless/manifest.yml
Due: none

install netcat in the ubuntu-git docker image instead of in the serverless manifest
  ci/ubuntu/Dockerfile
  serverless/manifest.yml
Due: publish-faas-image

display correct auth admin password in manifest success text
  manifest.yml
Due: none

fix auth url on faas nodes
  manifest.yml
Due: none

Path conditions:
  publish-feature-test-image: any of: ci/feature-tests/*
  publish-faas-image: any of: ci/ubuntu/Dockerfile
  publish-faas-functions: any of: features/data/functions/**/*
